<!DOCTYPE html>
<html>
<head>
    <title>Music Hub Of The Universe</title>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>

    <link type="text/css" href="../static/player_skin/jplayer.blue.monday.css" rel="stylesheet" />
    <link type="text/css" href="../static/less/flat-ui.css" rel="stylesheet" />
    <link type="text/css" href="../static/less/fancySelect.css" rel="stylesheet" />
    <link rel="stylesheet/less" type="text/css" href="../static/less/index.less" />

    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/jplayer.playlist.js"></script>
    <script type="text/javascript" src="../static/js/vendor/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/less-1.6.3.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/fancySelect.js"></script>
    <script type="text/javascript" src="../static/js/vendor/jquery.fileDownload.js"></script>
    <script type="text/javascript" src="../static/js/music_player.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <div class="media_source">
        <nav>
            <span class="nav_item eight" data-media-source="8tracks">8Tracks</span>
            <span class="nav_item soundcloud selected" data-media-source="soundcloud">Soundcloud</span>
        </nav>
    </div>
    <div class="filters">
        <!-- JS goes here -->
    </div>
    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
    <div class="outer_player_container">
        <div id="jp_container_1" class="jp-audio">
            <div class="jp-type-single">
                <div class="jp-gui jp-interface">
                    <ul class="jp-controls">
                        <li><a href="#" class="jp-play" tabindex="1">play</a></li>
                        <li><a href="#" class="jp-pause" tabindex="1">pause</a></li>
                        <li><a href="#" class="jp-stop" tabindex="1">stop</a></li>
                        <li><a href="#" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                        <li><a href="#" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                        <li><a href="#" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                    </ul>
                </div>
                <div class="jp-progress">
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"></div>
                    </div>
                </div>
                <div class="jp-volume-bar">
                    <div class="jp-volume-bar-value"></div>
                </div>
                <div class="jp-time-holder">
                    <div class="jp-current-time"></div>
                    <div class="jp-duration"></div>
                    <ul class="jp-toggles">
                        <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
                        <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
                    </ul>
                </div>
                 <div class="jp-playlist">
                    <ul>
                        <li></li>
                    </ul>
                </div>
                <div class="jp-title">
                    <ul>
                        <li>Bubble</li>
                    </ul>
                </div>
                <div class="jp-no-solution">
                    <span>Update Required</span>
                    To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                </div>
            </div>
        </div>
    </div>

    <script type="text/template" id="filter_tpl">
        <h3>Filter <%= mediaName %> Results</h3>
        <% if (mediaSource === '8tracks') { %>
        <div class="filter_row">
            <select>
	            <option>Artist</option>
	            <option>Tag</option>
	            <option>Keyword</option>
            </select>
        </div>
        <% } %>
        <div class="filter_row">
            <input type="text" class="filter_val" placeholder="Search <%= mediaName %>" />
        </div>
        <div class="filter_row">
            <button class="apply_filters btn btn-block btn-lg btn-success">Search</button>
            <% if (mediaSource != '8tracks') { %>
            <button class="download btn btn-block btn-lg btn-inverse">Download</button>
            <% } %>
        </div>
        <div class="filter_row error_container">
        </div>
    </script>

    <script type="text/template" id="error_tpl">
        <div class="error"><span class="fui-cross"></span><%= error %></div>
    </script>
</body>
</html>